body.custom_body_survey {
	margin-top: 0 !important;
	overflow: scroll;
}

body.custom_body_survey div#camera_div {
	width: 100% !important;
	height: 70vh !important;
	top: 7% !important;
	margin-top: -1% !important;
	border: 5px solid #000000;
}

body.custom_body_survey #wrapwrap > main {
	background: transparent;
}

body.custom_body_survey .o_survey_nav.pt16.mb-2, body.custom_body_survey form.d-flex.flex-grow-1.align-items-center {
	background: transparent;
}

body.custom_body_survey video#arjs-video {
	width: 100% !important;
	height: 68% !important;
	top: 7% !important;
	left: 0% !important;
	clip-path: inset(26% 19% 6% 19%);
}

form.d-flex.flex-grow-1.align-items-center {
    position: static;
    background: white;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.o_survey_nav.pt16.mb-2 {
    background: white;
}